h1 {
    font-family: 'Lilita One', cursive;
    text-align: center;
    font-size: 60px;
    color: rgb(241, 11, 11);
    background-color: forestgreen;
    text-shadow: 3px 3px rgb(255, 255, 255);
}

h2, h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: darkgoldenrod;

}

body {
    background-color: darkred;
}

ol {
    font-family: 'Gupter', serif;
    color: white;
    font-size: 20px;
}